:root{
    --tp-theme-color:#0057FC;
    --tp-theme-color2:#FFE815;
    --tp-heading-color:#0A0E1A;
    --tp-body-color:#57595C;
    --tp-theme-nblue:#57595C;
    --tp-white:#fff;
    --tp-common-black:#0a0e19;
    --tp-black:#000;
    --tp-nblue-bg:#001c52;
    
}