@use '../../utils' as *;
.tpservices{
    border: 1px solid #57595C;
    padding: 40px;
   margin-right: -1px;
   
    &__tittle{
        font-size: 30px;
    }

    &__text{
        & p{

        }
    }

    &__list{
        & ul{
            list-style: none;
            & li{
                margin-bottom: 5px;
                color:57595C;
                &::before{
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-radius: 30px;
                    background-color: #57595C;
                    display: inline-block;
                    margin-right: 10px;
                    transform: translateY(-2px);
                }
            }
            
        }
    }
    &:hover{
        background-color:#FBF6EF;
        & .tp-sv-btn{
            background-color: var( --tp-theme-color);
            color:#fff;
        }
    }
}
.tp-sv-btn{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBF6EF;
    padding: 6px 28px;
    & i{
        transform: rotate(-45deg);
    }
}
   
    